<!DOCTYPE html>
<html>
<title>Andrew Lopanik</title>
<head>
   <link rel=icon href=https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15/svgs/solid/rocket.svg>
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-dark-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="{{url_for('static', filename='andrew.jpeg')}}" style="width:100%">
          <div class="w3-display-bottomleft w3-container w3-text-black">
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-laptop fa-fw w3-margin-right w3-large w3-text-indigo"></i>Solution Architect at Workday</p>
          <p><i class="fa fa-book fa-fw w3-margin-right w3-large w3-text-indigo"></i>Master's student at Rutgers University</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-indigo"></i>alopanik@gmail.com</p>

	  <p align="center">
	  <img src="{{url_for('static', filename='logos.jpg')}}" style="width:100%">
	  </p>         
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h1 class="w3-text-grey w3-padding-16"><i class="fa fa-keyboard-o fa-fw w3-margin-right w3-xxxlarge w3-text-indigo"></i>Andrew Lopanik</h1>
        <div class="w3-container">
          <p>Welcome to my personal Flask web app, hosted on AWS. I plan on hosting projects here that I'm working on from time to time.</p>
          <hr>
        </div>
  
        
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-address-book fa-fw w3-margin-right w3-xxlarge w3-text-indigo"></i>Find Me</h2>
        <div class="w3-container">
          <a href="https://www.github.com/alopanik">
          <i class="fa fa-github fa-fw w3-margin-right w3-xxlarge"></i></a>
          <a href="https://www.linkedin.com/in/andrewlopanik">
          <i class="fa fa-linkedin fa-fw w3-margin-right w3-xxlarge"></i>
          </a>


          <hr>
        </div>
        
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>


</body>
</html>
